.main {
  padding: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.stack {
  display: grid;
  place-content: center;
  gap: 12px;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 12px;
}